[Desktop Entry]
Type=Application
Name=CopyClip
GenericName=Clipboard Manager
Comment=Keep and reuse your clipboard history
Exec=copyclip
Icon=dev.walkercito.CopyClip
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;history;paste;copy;clip;
StartupNotify=true
StartupWMClass=dev.walkercito.CopyClip
